* {
      background-color: black;
      color: white;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    h1 {
      text-align: center;
      font-size: 4rem;
    }
    h2 {
      text-align: center;
      font-size: 2rem;
    }
    h3 {
      text-align: center;
      font-size: 1rem;
    }
    .video {
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    .audio {
      margin: 40px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    p { 
        text-align: right;
    }